// All the webkit/moz/etc stuff

@mixin transition($args...) {
	-webkit-transition: $args;
	-moz-transition: $args;
	-o-transition: $args;
	transition: $args;
}

@mixin animation($args...) {
	-webkit-animation: $args;
	animation: $args;
}

@mixin border-radius($amount) {
	-webkit-border-radius: $amount;
	-moz-border-radius: $amount;
	border-radius: $amount;
}

@mixin columns($num) {
	-webkit-columns: auto $num;
	-moz-columns: auto $num;
	columns: auto $num;
}
