// sass -t compressed --watch style.scss:style.css
@import "mixins";

$font: "Anonymous Pro", monospace;
$fonts: 18px;

$soft:     #2A742A;
$soft_2:   #63B963;
$soft_3:   #254625;
$soft_4:   #0E1C0E;
$bright:   #43B943;
$bright_2: #5CFF5C;
$high:     #8F8;

$soft_rgba: rgba(42, 116, 42, 0.75);

html, body {
	margin: 0;
	width: 100%;
	height: 100%;
	background-color: #000;
	overflow: hidden;
}

a {
	@include transition(color 0.33s ease);
	text-decoration: underline;
}

::selection {
	background: #5CFF5C;
	color: #000;
}

::-moz-selection {
	background: #5CFF5C;
	color: #000;
}

#q {
	margin: 0 auto;
	display: block;
	z-index: 1;
}

$tsize: $fonts / 2;

.arrow-up {
	display: block;
	opacity: 0;
	position: relative;
	left: 0;
	right: 0;
	margin: 0 auto;
	top: $fonts - 1px;
	width: 0;
	height: 0;
	z-index: 2;
	border-left:   $tsize solid transparent;
	border-right:  $tsize solid transparent;
	border-bottom: $tsize solid $soft;
	@include transition(opacity 0.33s ease);
}

.arrow-up:before {
	content: "";
	display: block;
	position: relative;
	left: 1 - ($fonts / 2);
	top: 1px;
	width: 0;
	height: 0;
	border-left:   ($tsize - 1) solid transparent;
	border-right:  ($tsize - 1) solid transparent;
	border-bottom: ($tsize - 1) solid #000;
}

#info {
	$w: 35%;
	width: $w;
	height: 15%;
	position: absolute;
	top: 35%;
	left: 50% - ($w / 2);
	background-color: #000;
	z-index: -1;
	opacity: 0;
	@include transition(opacity 0.7s ease-in);

	> hr {
		display: block;
		height: 1px;
		border: 0;
		border-top: 1px solid $soft_4;
		margin: 2em 0;
		padding: 0;
	}

	> div.info-text {
		color: $soft_2;
		font-size: $fonts * 5 / 6;
		font-family: $font;
		text-align: center;

		> a {
			color: $soft_2;
		}

		> a:hover {
			color: $high;
		}
	}

	$svg: 64px;
	$svg_cntr: $svg * 3 / 2;
	$svg_marg: $svg / 2;

	> div#svg-container {
		width: 80%;
		min-width: $svg_cntr * 3 + $svg_marg * 2;
		margin: 5% auto;
		display: flex;
		justify-content: space-between;

		> div {
			> a {
				width:  $svg_cntr;
				height: $svg_cntr;
				display: inline-block;
				border: 1px solid $soft_3;
				@include border-radius(4px);
				@include transition(border-color 0.33s ease);

				> svg {
					display: block;
					height: $svg;
					margin: ( $svg_marg / 2 ) auto 0;
					fill: $bright_2;
					-webkit-mask-image: -webkit-gradient(
						linear, left top, left bottom, from($soft), to($soft_rgba)
					);
				}
			}

			> a:hover {
				border-color: $soft;

				> svg {
					fill: $high;
				}

				+ span + div {
					opacity: 1;
				}

				+ span {
					opacity: 1;
				}
			}

			> div {
				display: block;
				opacity: 0;
				text-align: center;
				padding: 4px 0;
				margin: 1em 0 0 0;
				border: 1px solid $soft_3;
				@include border-radius(1px);
				@include transition(opacity 0.33s ease);

				color: $bright;
				font-family: $font;
			}
		}
	}
}

#src {
	background-color: #000;
	z-index: -1;
	opacity: 0;
	@include transition(opacity 0.7s ease-in);

	display: block;
	width: 100%;
	text-align: center;
	position: absolute;
	bottom: $fonts * 1.5;

	> a {
		color: $soft_3;
		font-size: $fonts * 2 / 3;
		font-family: $font;
	}

	> a:hover {
		color: $soft_2;
	}
}
