// Use watch_css.sh to:
// - Watch for changes in style.scss and generate _styles.css
// - Then use entr to watch for changes in _styles.css and execute postcss to handle vendor prefixes

@import 'root-fsize';
@import 'svg-links';

html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-size: $root-fsize;
}

.wrap {
    width: 100%;
}

@include svg-links(#000, #00008B, #FFF, monospace);
